<!-- app/views/questions/_form.html.erb -->

<%= form_for(@question) do |f| %>
	<p>The form contains <%= pluralize(@question.errors.count, "error") %> </p>
	<ul>
	<% @question.errors.full_messages.each do | message | %>
		<li><%= message %></li>
	<% end %>
	</ul>
	<p>
		<%= f.label :title %>
	</p>
	<p>
		<%= f.text_field :title, autofocus: true %>
	</p>
	<p>
		<%= f.label :body %>
	</p>
	<p>	
		<%= f.text_area :body, cols: 30, rows: 10 %>
	</p>
	<p>
		<%= f.submit nil, :class => 'btn btn-success' %>
	</p>
<% end %>