<!-- app/views/questions/index.html.erb -->
</p>
<%= image_tag("qa.jpg", height: '100') %>
<h1>Questions</h1>



<p><%= link_to "Add Question", new_question_path %> </p>

<%= render partial: "questions", object: @all_questions, locals: { caption: "All Questions" } %>
<%= render partial: "questions", object: @unanswered_questions, locals: { caption: "Unanswered Questions" } %>
<%= render partial: "questions", object: @answered_questions, locals: { caption: "Answered Questions" } %>


